@font-face {
    font-family: "Gilroy-ExtraBold";
    src: local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.otf") format("opentype");
}

.hero-section {
    H1 {
        font-size: 6rem;
        font-family: "Gilroy-ExtraBold";
        color: rgb(24, 20, 36);
    }

    H3 {
        font-size: 1.2rem;
        color: gray;
        font-family: "Gilroy-Light";
    }

    margin: 0px 10%;
    text-align: left;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-section {
        H1 {
            font-size: 4rem;
            font-family: "Gilroy-ExtraBold";
            color: rgb(24, 20, 36);
        }

        H3 {
            font-size: 1.2rem;
            color: gray;
            font-family: "Gilroy-Light";
        }
        min-width: 100%;
        margin: 0 0rem;
        padding: 0 0.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .hero-section {
        H1 {
            font-size: 5rem;
            font-family: "Gilroy-ExtraBold";
            color: rgb(24, 20, 36);
        }

        H3 {
            font-size: 2.2rem;
            color: gray;
            font-family: "Gilroy-Light";
        }
        min-width: 100%;
        margin: 0 0rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
}
