.Hamburger-main {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    top: -3px;
    z-index: 1100;
    transition: all 500ms ease 0s;

    div {
        position: absolute;
        height: 0.1rem;
        background-color: black;
        transition: all 300ms ease 0s;
        outline: 0 !important;
    }

    &:focus {
        outline: none;
    }

    .Hamburger-one-toggledOff {
        top: 7px;
        left: 0px;
        right: 0px;
    }

    .Hamburger-one-toggledOn {
        top: 7px;
        left: 0px;
        right: 0px;
        transform: rotate(45deg) translate(4px, 4px);
        background-color: white!important;
    }

    .Hamburger-two-toggledOff {
        top: 14px;
        left: 0px;
        right: 0px;
    }
    .Hamburger-two-toggledOn {
        top: 14px;
        left: 0px;
        right: 0px;
        opacity: 0;
        background-color: white!important;
    }

    .Hamburger-three-toggledOff {
        top: 21px;
        left: 0px;
        right: 0px;
    }
    .Hamburger-three-toggledOn {
        top: 21px;
        left: 0px;
        right: 0px;
        transform: rotate(-45deg) translate(5px, -6px);
        background-color: white!important;
    }

    &:hover {
        cursor: pointer;
        .Hamburger-one-toggledOff {
            right: 40%;
            transition: 0.5s;
        }
        .Hamburger-two-toggledOff {
            left: 40%;
            transition: 0.5s;
        }
        .Hamburger-three-toggledOff {
            right: 40%;
            transition: 0.5s;
        }
    }
}