.menuSectionContainer {
    height: auto;
    text-align: right;
    width: 60rem;
    margin: 0 auto;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}

.menuItems {
    margin-right: 1rem;
    float: right;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url("../fonts/Gilroy-ExtraBold.otf") format('opentype');
  }

.menuLink {
    cursor: pointer;
    margin-bottom: 3rem;
    font-family: Gilroy;
    color: #bbb;
    font-size: 3rem;
    animation: fade 1s ease-in;
    font-family: 'Gilroy-ExtraBold';

    &:hover {
        color: white;
        opacity: 1
    }
}

@keyframes fade {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
  }

.menuMain {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(24, 20, 36);
    z-index: 500;
}